@mixin set-font-face($fonts, $family, $src, $type: 'ttf') {
  @each $f in $fonts {
    $weight: nth($f, 1);
    $font: nth($f, 2);
    $style: 'normal';
    @if length($list: $f) == 3 {
      $style: nth($f, 3);
    }
    @font-face {
        font-family: "#{$family}";
        src: url("#{$src}/#{$font}.#{$type}");
        font-display: swap;
        font-weight: $weight;
        font-style: $style;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
  }
}